fastapi==0.109.0
uvicorn==0.27.0
pydantic==2.5.3
pydantic-settings==2.1.0
qdrant-client==1.11.0
google-generativeai==0.3.2
pandas==2.2.0
python-dotenv==1.0.0
requests==2.31.0
FlagEmbedding
fastembed
psutil
sqlalchemy
psycopg[binary]
python-jose[cryptography]   # Xử lý JWT
passlib[bcrypt]             # Băm mật khẩu an toàn
python-multipart            # Xử lý Form Data khi Login